.VolunteerPendingDonations-parentCont .VolunteerPendingDonations-bodyCont{
    background-color: #f0f0f073;
    display: flex;
}
   
.VolunteerPendingDonations-parentCont .VolunteerPendingDonations-bodyCont .VolunteerPendingDonations-leftCont{
    width: fit-content;
    /* background-color: bisque; */
}
   
.VolunteerPendingDonations-parentCont .VolunteerPendingDonations-rightCont{
    width: 90%;
    background-color: #F0F0F0;
    padding: 40px;
}

.VolunteerPendingDonations-parentCont .VolunteerPendingDonations-rightCont p{
    font-weight: 600;
    font-size: 25px;
    font-family: "Poppins";
}

.VolunteerPendingDonations-parentCont .VolunteerPendingDonations-rightCont .table thead {
    text-align: center;
    font-family: "Poppins";
}

.VolunteerPendingDonations-parentCont .VolunteerPendingDonations-rightCont .table tbody {
    text-align: center;
    font-family: "Poppins";
    font-weight: 500;
}

/* .VolunteerPendingDonations-parentCont .VolunteerPendingDonations-rightCont .ViewItemsModal-ParentCont .viewItemsBtn{
    background: #354290 !important;
    cursor: pointer;
    color: white;
} */