.VolunteerDashboardContent-parentCont .VolunteerDashboardContent-cardCont {
    width: 100%;
    display: flex;
    column-gap: 60px;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 30px;
}


.VolunteerDashboardContent-parentCont .VolunteerDashboardContent-cardCont .VolunteerDashboardContent-card1{
    width: 18%;
    height: 20vh;
    border-radius: 10px;
    background: #FCD125;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.50);
    display: grid;
    flex-direction: column;
    padding: 15px;

}

.VolunteerDashboardContent-parentCont .VolunteerDashboardContent-cardCont .VolunteerDashboardContent-card1 p{
    font-size: 20px;
    font-weight: 650;
    color: #242529;
    text-align: center;
    margin-bottom: 0;
    margin-top: 10px;

}


.VolunteerDashboardContent-parentCont .VolunteerDashboardContent-cardCont .VolunteerDashboardContent-card2{
    width: 18%;
    height: 20vh;
    border-radius: 10px;
    background: #354290;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.50);
    display: grid;
    flex-direction: column;
    padding: 15px;
}

.VolunteerDashboardContent-parentCont .VolunteerDashboardContent-cardCont .VolunteerDashboardContent-card2 p{
    font-size: 20px;
    font-weight: 650;
    color: #FCD125;
    text-align: center;
    margin-bottom: 0;
    margin-top: 20px;
}

.VolunteerDashboardContent-parentCont .VolunteerDashboardContent-cardCont .VolunteerDashboardContent-card3{
    width: 18%;
    height: 20vh;
    border-radius: 10px;
    background: #FCD125;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.50);
    display: grid;
    flex-direction: column;
    padding: 15px;
}

.VolunteerDashboardContent-parentCont .VolunteerDashboardContent-cardCont .VolunteerDashboardContent-card3 p{
    font-size: 20px;
    font-weight: 650;
    color: #242529;
    text-align: center;
    margin-bottom: 0;
    margin-top: 20px;
}

.VolunteerDashboardContent-parentCont .VolunteerDashboardContent-cardCont .VolunteerDashboardContent-card4{
    width: 18%;
    height: 20vh;
    border-radius: 10px;
}

.VolunteerDashboardContent-parentCont .VolunteerDashboardContent-bottomCont {
    width: 100%;
    height:fit-content;
    display: flex;
    flex-direction: row;
    column-gap: 40px;
    padding: 40px;
    padding-top: 5px;
    padding-bottom: 20px;
    align-items: center;
    /* background: yellow; */
} 

.VolunteerDashboardContent-parentCont .VolunteerDashboardContent-bottomCont .VolunteerDashboardContent-leftCont{
    width: 50%;
    height:fit-content;
    display: grid;
    flex-direction: column;
    row-gap: 20px;
    padding: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
} 

.VolunteerDashboardContent-parentCont .VolunteerDashboardContent-bottomCont .VolunteerDashboardContent-leftCont .VolunteerDashboardContent-leftContHeader{
    width: 100%;
    height:fit-content;
    display: flex;
    column-gap: 30px;
    padding: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
} 

.VolunteerDashboardContent-parentCont .VolunteerDashboardContent-bottomCont .VolunteerDashboardContent-leftCont .VolunteerDashboardContent-leftCont-Statistics{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 
    width: fit-content;
    margin-right: 20px; 
    align-items: center;
}


.VolunteerDashboardContent-parentCont .VolunteerDashboardContent-bottomCont .VolunteerDashboardContent-rightCont{
    width: 50%;
    height: fit-content;
    display: grid;
    flex-direction: column;
    row-gap: 20px;
    padding: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: grey;
}

/* .VolunteerDashboardContent-parentCont .VolunteerDashboardContent-bottomContent .VolunteerDashboardContent-bottomContent1{
    width: 50%;
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.50);
    margin-left: 40px;
} */

/* .VolunteerDashboardContent-parentCont .VolunteerDashboardContent-bottomContent .VolunteerDashboardContent-bottomContent2{
    width: 50%;
    height:  49vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.50);
    margin-right: 40px;
}

.VolunteerDashboardContent-parentCont .VolunteerDashboardContent-bottomContent .VolunteerDashboardContent-bottomContent2 h1{
    width: 100%;
    height: 7vh;
    flex-shrink: 0;
    border-radius: 10px 10px 0px 0px;
    border: 1px solid #A6A6A6;
    background: #35408E;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 32px;
}

.VolunteerDashboardContent-parentCont .VolunteerDashboardContent-bottomContent .VolunteerDashboardContent-bottomContent2 table{
    width:  100%;
    font-weight: 650;
    color: #242529;
    text-align: center;
    margin-bottom: 0;
    margin-top: 10px;
}

.VolunteerDashboardContent-parentCont .VolunteerDashboardContent-bottomContent .VolunteerDashboardContent-bottomContent2 .VolunteerLogTable .VolunteerLogTable-thead{
    width:  100%;
    font-weight: 400;
    color: #242529;
    text-align: center;
    margin-bottom: 0;
    margin-top: 10px;
    font-size: 24px;
    /* background-color: #50598C; */
/* } */ 