body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
  }

.VolunteerDashboard-parentCont .VolunteerDashboard-bodyCont{
 background-color: #F0F0F0;
    display: flex;
    height: 84vh;
}

.VolunteerDashboard-parentCont .VolunteerDashboard-bodyCont .VolunteerDashboard-leftCont{
    width: fit-content;
}

.VolunteerDashboard-parentCont .VolunteerDashboard-rightCont{
    width: 90%;
}




  