.VolunteerLogPhase2-parentCont .VolunteerLogPhase2-bodyCont{
    background-color: #f0f0f073;
    display: flex;
}
   
.VolunteerLogPhase2-parentCont .VolunteerLogPhase2-bodyCont .VolunteerLogPhase2-leftCont{
    width: fit-content;
    /* background-color: bisque; */
}
   
.VolunteerLogPhase2-parentCont .VolunteerLogPhase2-rightCont{
    width: 90%;
    background-color: #F0F0F0;
    padding: 40px;
}

.VolunteerLogPhase2-parentCont .VolunteerLogPhase2-rightCont .VolunteerLogPhase2-rightCont-header{
    display: flex;
    column-gap: 30px;
    padding: 20px;
}

.VolunteerLogPhase2-parentCont .VolunteerLogPhase2-rightCont .VolunteerLogPhase2-rightCont-header p{
    font-weight: 600;
    font-size: 25px;
    margin-top: 5px;
    font-family: "Poppins";
}

.VolunteerLogPhase2-parentCont .VolunteerLogPhase2-rightCont .table thead {
    text-align: center;
    font-family: "Poppins";
}

.VolunteerLogPhase2-parentCont .VolunteerLogPhase2-rightCont .table tbody {
    text-align: center;
    font-family: "Poppins";
    font-weight: 500;
}
