.VolunteerLogPhase3-parentCont .VolunteerLogPhase3-bodyCont{
    background-color: #f0f0f073;
    display: flex;
}
   
.VolunteerLogPhase3-parentCont .VolunteerLogPhase3-bodyCont .VolunteerLogPhase3-leftCont{
    width: fit-content;
}
   
.VolunteerLogPhase3-parentCont .VolunteerLogPhase3-rightCont{
    width: 90%;
    padding: 40px;
    height: 84vh;
}

.VolunteerLogPhase3-parentCont .VolunteerLogPhase3-rightCont .VolunteerLogPhase3-rightCont-table{
   overflow: auto;
   height: 65vh;
}

.VolunteerLogPhase3-parentCont .VolunteerLogPhase3-rightCont .VolunteerLogPhase3-rightCont-header{
    display: flex;
    column-gap: 30px;
    padding: 20px;
}

.VolunteerLogPhase3-parentCont .VolunteerLogPhase3-rightCont .VolunteerLogPhase3-rightCont-header p{
    font-weight: 600;
    font-size: 25px;
    margin-top: 5px;
    font-family: "Poppins";
}

.VolunteerLogPhase3-parentCont .VolunteerLogPhase3-rightCont .VolunteerLogPhase3-rightCont-table .table thead {
    text-align: center;
    font-family: "Poppins";
}

.VolunteerLogPhase3-parentCont .VolunteerLogPhase3-rightCont .VolunteerLogPhase3-rightCont-table .table tbody {
    text-align: center;
    font-family: "Poppins";
    font-weight: 500;
}
